/* Typography */
html {
    font-size: 62.5%;
  }
  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* Images */
  img {
      width: 100%;
  }
  h1 {
      font-size: 3rem;
      font-weight: 600;

      @media screen and (min-width: 700px) {
          font-size: 3.6rem;
      }

      @media screen and (min-width: 1000px) {
          font-size: 4rem;
      }
  }
  p {
      font-size: 1.3rem;
      font-weight: 300;

      @media screen and (min-width: 700px) {
        font-size: 1.6rem;
    }

    @media screen and (min-width: 1000px) {
        font-size: 2rem;
    }
  }
  /* NavBar */
  nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 7rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  /* Logo */
  .logo {
      width: 8.3rem;
      height: 2.6rem;
      margin-left: 3rem;

      @media screen and (min-width: 1000px) {
        margin-left: 5rem;
      }
  }
  /* Hero Image */
  .hero-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .hero__image {
    padding: 2.6rem 5rem 3.2rem;

    @media screen and (min-width: 1000px) {
        width: 700px;
        height: 400px;
    }
  }
  .hero__body {
      text-align: left;
      padding: 0 3.6rem 5.5rem 3.6rem;

      @media screen and (min-width: 1000px) {
          margin-left: 25rem;
      }
  }

  .hero__text {
    @media screen and (min-width: 375px) {
        width: 80%;
    }
    @media screen and (min-width: 500px) {
        width: 70%;
    }
    @media screen and (min-width: 700px) {
        width: 60%;
    }
    @media screen and (min-width: 1000px) {
        width: 60%;
    }
  }